In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/GroceriesItmes.csv')
dataset.head(5)

,transaction_id,item1,item2,item3,item4,item5,item6,item7,item8,item9,item10
0,1,milk,bread,butter,eggs,cheese,NaN,NaN,NaN,NaN,NaN
1,2,milk,bread,eggs,cheese,NaN,NaN,NaN,NaN,NaN,NaN
2,3,bread,butter,tomato,onion,potato,NaN,NaN,NaN,NaN,NaN
3,4,milk,banana,apple,chocolate,NaN,NaN,NaN,NaN,NaN,NaN
4,5,milk,bread,butter,chocolate,soda,NaN,NaN,NaN,NaN,NaN

In [10]:
dataset["item1"][0]

'milk'

In [13]:
for i in range(0,dataset.shape[0]):
    for j in dataset.columns:
      print(dataset)

Streaming output truncated to the last 5000 lines.
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \
0                 1    milk    bread     butter       eggs  cheese    NaN
1                 2    milk    bread       eggs     cheese     NaN    NaN
2                 3   bread   butter     tomato      onion  potato    NaN
3                 4    milk   banana      apple  chocolate     NaN    NaN
4                 5    milk    bread     butter  chocolate    soda    NaN
..              ...     ...      ...        ...        ...     ...    ...
195             215    milk    bread     butter        NaN     NaN    NaN
196             216  banana    apple  chocolate        NaN     NaN    NaN
197             217    rice  chicken      onion     tomato     NaN    NaN
198             218    milk    bread     cheese        NaN     NaN    NaN
199             219  coffee      tea      sugar       milk     NaN    NaN

     item7  item8  item9  item10
0      NaN    NaN    NaN     NaN
1      NaN    NaN    NaN     NaN
2      NaN    NaN    NaN     NaN
3      NaN    NaN    NaN     NaN
4      NaN    NaN    NaN     NaN
..     ...    ...    ...     ...
195    NaN    NaN    NaN     NaN
196    NaN    NaN    NaN     NaN
197    NaN    NaN    NaN     NaN
198    NaN    NaN    NaN     NaN
199    NaN    NaN    NaN     NaN

[200 rows x 11 columns]
     transaction_id   item1    item2      item3      item4   item5  item6  \

In [16]:
market = []
for i in range(0,dataset.shape[0]):
  cus = []
  for j in dataset.columns:
      if type(dataset[j][i]) == str:
        cus.append(dataset[j][i])
        market.append(cus)

In [17]:
market

[['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['milk', 'bread', 'eggs', 'sugar'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['coffee', 'chocolate', 'soda'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['apple', 'banana', 'milk', 'yogurt'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['bread', 'butter', 'eggs', 'cheese', 'milk'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['rice', 'chicken', 'potato', 'onion'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['milk', 'coffee', 'sugar', 'chocolate'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['tomato', 'onion', 'potato', 'salt'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['milk', 'bread', 'butter'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['banana', 'apple', 'chocolate'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['rice', 'chicken', 'onion', 'tomato'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['milk', 'bread', 'cheese'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['coffee', 'tea', 'sugar', 'milk'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'butter', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['milk', 'bread', 'eggs', 'cheese'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['bread', 'butter', 'tomato', 'onion', 'potato'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'banana', 'apple', 'chocolate'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['milk', 'bread', 'butter', 'chocolate', 'soda'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['apple', 'banana', 'tomato', 'onion'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['rice', 'chicken', 'salt', 'onion', 'tomato'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'rice', 'chicken'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['milk', 'bread', 'butter', 'eggs', 'coffee'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['banana', 'apple', 'chocolate', 'soda'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['milk', 'yogurt', 'banana', 'apple'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['bread', 'butter', 'cheese', 'tea'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['rice', 'beef', 'onion', 'tomato', 'salt'],
 ['milk', 'bread', 'eggs', 'sugar'],

In [20]:
l = []
for i in market:
  for j in i:
    l.append(j)

In [21]:
import collections

In [25]:
p = collections.Counter(l)

In [26]:
p.keys()

dict_keys(['milk', 'bread', 'butter', 'eggs', 'cheese', 'tomato', 'onion', 'potato', 'banana', 'apple', 'chocolate', 'soda', 'rice', 'chicken', 'salt', 'coffee', 'yogurt', 'tea', 'beef', 'sugar'])

In [27]:
p.values()

dict_values([464, 376, 256, 184, 168, 216, 248, 104, 184, 184, 184, 96, 176, 136, 112, 128, 64, 64, 40, 96])

In [28]:
d = {"Item Name": p.keys(),"values": p.values()}

In [32]:
pd.DataFrame(d).sort_values(by="values",ascending=False)

    Item Name  values
0        milk     464
1       bread     376
2      butter     256
6       onion     248
5      tomato     216
3        eggs     184
9       apple     184
8      banana     184
10  chocolate     184
12       rice     176
4      cheese     168
13    chicken     136
15     coffee     128
14       salt     112
7      potato     104
11       soda      96
19      sugar      96
16     yogurt      64
17        tea      64
18       beef      40

In [31]:
pd.set_option("display.max_rows", 200)

In [36]:
from mlxtend.preprocessing.transactionencoder import TransactionEncoder

In [37]:
tr = TransactionEncoder()

In [38]:
tr.fit(market)

TransactionEncoder()

In [39]:
tr.transform(market)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ...,  True, False, False],
       [False, False, False, ...,  True, False, False],
       [False, False, False, ...,  True, False, False]])

In [49]:
df  = pd.DataFrame(tr.transform(market),columns=tr.columns_)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [50]:
df

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

,apple,banana,beef,bread,butter,cheese,chicken,chocolate,coffee,eggs,milk,onion,potato,rice,salt,soda,sugar,tea,tomato,yogurt
0,False,False,False,True,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
820,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,False
821,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,False
822,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,False
823,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,False

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [42]:
from mlxtend.frequent_patterns import apriori

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [46]:
apriori(df,min_support=0.09, use_colnames=True, max_len=3).sort_values(by=["support"])

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

     support                    itemsets
54  0.097087      (milk, butter, cheese)
53  0.097087      (butter, cheese, eggs)
61  0.097087        (tomato, rice, salt)
58  0.097087         (rice, onion, salt)
42  0.097087                (rice, salt)
20  0.106796         (chocolate, banana)
45  0.106796  (apple, chocolate, banana)
18  0.106796          (apple, chocolate)
37  0.116505               (sugar, milk)
34  0.116505           (chocolate, soda)
15  0.116505                     (sugar)
14  0.116505                      (soda)
19  0.116505               (milk, apple)
21  0.116505              (milk, banana)
46  0.116505       (milk, apple, banana)
11  0.126214                    (potato)
57  0.126214      (rice, onion, chicken)
35  0.126214              (coffee, milk)
38  0.126214             (potato, onion)
33  0.126214           (milk, chocolate)
31  0.126214            (onion, chicken)
43  0.135922              (tomato, rice)
44  0.135922              (tomato, salt)
47  0.135922     (butter, bread, cheese)
26  0.135922            (butter, cheese)
29  0.135922              (cheese, eggs)
13  0.135922                      (salt)
40  0.135922               (onion, salt)
59  0.135922       (tomato, rice, onion)
50  0.135922       (bread, cheese, eggs)
56  0.135922        (milk, cheese, eggs)
60  0.135922       (tomato, onion, salt)
27  0.145631              (butter, eggs)
48  0.145631       (butter, bread, eggs)
55  0.145631        (milk, butter, eggs)
7   0.155340                    (coffee)
51  0.165049       (milk, bread, cheese)
30  0.165049              (milk, cheese)
5   0.165049                   (chicken)
32  0.165049             (rice, chicken)
39  0.174757               (rice, onion)
4   0.203883                    (cheese)
23  0.203883             (bread, cheese)
12  0.213592                      (rice)
24  0.223301               (bread, eggs)
17  0.223301             (apple, banana)
6   0.223301                 (chocolate)
1   0.223301                    (banana)
0   0.223301                     (apple)
8   0.223301                      (eggs)
52  0.223301         (milk, bread, eggs)
36  0.223301                (milk, eggs)
49  0.223301       (butter, milk, bread)
28  0.223301              (milk, butter)
16  0.262136                    (tomato)
41  0.262136             (tomato, onion)
10  0.300971                     (onion)
3   0.310680                    (butter)
22  0.310680             (butter, bread)
25  0.368932               (milk, bread)
2   0.456311                     (bread)
9   0.563107                      (milk)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)