In [6]:
import pandas as pd

In [7]:
dataset = pd.read_csv("housing_ocean.csv")

In [8]:
dataset.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [18]:
dataset.shape

(20640, 10)

In [11]:
input_data = dataset.iloc[:,:-1]  # This line is correct, selecting all rows and all columns except the last one

# Option 1: Using loc with column name
output_data = dataset.loc[:, "median_house_value"]

# Option 2: Direct column access (simpler and more common)
output_data = dataset["median_house_value"]

# Option 3: If you want to use iloc, you need the column index
# Assuming "median_house_value" is the last column:
# output_data = dataset.iloc[:, -1]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test=train_test_split(input_data,output_data, test_size=0.25)

In [14]:
x_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1530,-122.06,37.88,34.0,4781.0,703.0,1879.0,714.0,6.5378,340900.0
15191,-117.05,33.02,18.0,917.0,121.0,388.0,131.0,6.3517,260100.0
11051,-117.86,33.79,31.0,3523.0,922.0,2660.0,949.0,3.1792,146400.0
916,-121.97,37.51,25.0,3333.0,511.0,1671.0,504.0,5.4359,258300.0
17780,-121.84,37.38,33.0,835.0,181.0,781.0,169.0,5.1082,195800.0
...,...,...,...,...,...,...,...,...,...
3015,-119.16,34.95,14.0,4054.0,787.0,1581.0,579.0,3.0882,148200.0
3417,-118.42,34.28,29.0,1271.0,272.0,1338.0,266.0,4.1250,150000.0
20416,-118.85,34.20,28.0,2040.0,297.0,848.0,280.0,6.7612,323700.0
12361,-116.48,33.84,5.0,5480.0,1371.0,1050.0,485.0,1.7204,137500.0
15802,-122.44,37.75,28.0,4930.0,1381.0,2232.0,1321.0,4.3232,316200.0

In [15]:
x_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1884,-119.99,38.93,23.0,1882.0,414.0,673.0,277.0,2.9091,141900.0
125,-122.22,37.85,28.0,5287.0,1048.0,2031.0,956.0,5.4570,337300.0
9681,-118.97,37.64,14.0,2284.0,622.0,342.0,137.0,3.0921,87500.0
6447,-118.05,34.11,42.0,3677.0,627.0,1779.0,622.0,5.1509,426500.0
15008,-117.02,32.76,40.0,2523.0,488.0,976.0,470.0,3.1100,185700.0
...,...,...,...,...,...,...,...,...,...
15672,-122.44,37.80,52.0,3161.0,472.0,842.0,410.0,7.9761,500001.0
2499,-120.39,36.78,11.0,1947.0,488.0,2104.0,486.0,1.7184,55200.0
2309,-119.74,36.83,14.0,4675.0,829.0,2235.0,787.0,4.1098,108200.0
18436,-121.84,37.25,17.0,2363.0,473.0,1369.0,442.0,4.8355,141600.0
6166,-117.93,34.09,34.0,2192.0,431.0,1376.0,428.0,3.9861,163900.0

In [16]:
y_train

1884     141900.0
125      337300.0
9681      87500.0
6447     426500.0
15008    185700.0
           ...
15672    500001.0
2499      55200.0
2309     108200.0
18436    141600.0
6166     163900.0
Name: median_house_value, Length: 15480, dtype: float64

In [17]:
y_test

1530     340900.0
15191    260100.0
11051    146400.0
916      258300.0
17780    195800.0
           ...
3015     148200.0
3417     150000.0
20416    323700.0
12361    137500.0
15802    316200.0
Name: median_house_value, Length: 5160, dtype: float64

In [26]:
x_test.shape , y_test.shape

((5160, 9), (5160,))

In [25]:
y_train.shape , x_train.shape

((15480,), (15480, 9))