In [2]:
import pandas as pd

In [18]:
dataset = pd.read_csv("anime.csv")
dataset.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,NaN,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,NaN,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [20]:
dataset.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      2
rating      230
members       0
dtype: int64

In [21]:
en_data = dataset[["genre", "type"]]

In [22]:
en_data

                                                   genre   type
0                   Drama, Romance, School, Supernatural  Movie
1      Action, Adventure, Drama, Fantasy, Magic, Mili...     TV
2      Action, Comedy, Historical, Parody, Samurai, S...     TV
3                                       Sci-Fi, Thriller     TV
4      Action, Comedy, Historical, Parody, Samurai, S...     TV
...                                                  ...    ...
12289                                             Hentai    OVA
12290                                             Hentai    OVA
12291                                             Hentai    OVA
12292                                             Hentai    OVA
12293                                             Hentai  Movie

[12294 rows x 2 columns]

In [23]:
pd.get_dummies(en_data)

,genre_Action,"genre_Action, Adventure","genre_Action, Adventure, Cars, Comedy, Sci-Fi, Shounen","genre_Action, Adventure, Cars, Mecha, Sci-Fi, Shounen, Sports","genre_Action, Adventure, Cars, Sci-Fi","genre_Action, Adventure, Comedy","genre_Action, Adventure, Comedy, Demons, Drama, Ecchi, Horror, Mystery, Romance, Sci-Fi","genre_Action, Adventure, Comedy, Demons, Fantasy, Magic","genre_Action, Adventure, Comedy, Demons, Fantasy, Magic, Romance, Shounen, Supernatural","genre_Action, Adventure, Comedy, Demons, Fantasy, Martial Arts, Shounen, Super Power",...,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
12290,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
12291,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
12292,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
12293,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [24]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Columns: 3270 entries, genre_Action to type_TV
dtypes: bool(3270)
memory usage: 38.3 MB

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
ohe = OneHotEncoder()

In [40]:
ohe = OneHotEncoder(drop="first")

In [41]:
ohe.fit_transform(en_data)

<12294x3270 sparse matrix of type '<class 'numpy.float64'>'
	with 22187 stored elements in Compressed Sparse Row format>

In [42]:
ohe.fit_transform(en_data).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
arr = ohe.fit_transform(en_data).toarray()
arr

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [49]:
# Option 1: If you want to use only the first 2 columns of arr
pd.DataFrame(arr[:, :2], columns=["genre_Action", "genre_Action,Adventure"])

# Option 2: If you need all 3270 columns, create appropriate column names
# Create a list of 3270 column names
column_names = ["col_" + str(i) for i in range(3270)]
# Or use your specific column names if you have them
pd.DataFrame(arr, columns=column_names)

# Option 3: If you don't need column names
pd.DataFrame(arr)

,0,1,2,3,4,5,6,7,8,9,...,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
# First, check the actual shape of your array
print(f"Array shape: {arr.shape}")

# Option 1: If you want to keep only the 17 columns you've named
# First ensure arr has only 17 columns
arr_subset = arr[:, :17]  # Select only the first 17 columns
pd.DataFrame(arr_subset, columns=["genre_Action","genre_Action,Adventure","genre_Action, Adventure, Cars, Comedy, Sci-Fi, Shounen", "genre_Action, Adventure, Cars, Mecha, Sci-Fi, Shounen, Sports", "genre_Action, Adventure, Cars, Sci-Fi", "genre_Action, Adventure, Comedy", "genre_Action, Adventure, Comedy, Demons, Drama, Ecchi, Horror, Mystery, Romance, Sci-Fi", "genre_Action, Adventure, Comedy, Demons, Fantasy, Magic", "genre_Action, Adventure, Comedy, Demons, Fantasy, Magic, Romance, Shounen, Supernatural", "genre_Action, Adventure, Comedy, Demons, Fantasy, Martial Arts, Shounen, Super Power", "genre_Supernatural", "genre_Vampire","type_Movie","type_Music","type_ONA","type_Special", "type_TV"])

# Option 2: If you need all 3270 columns (corrected from 3272)
# Generate generic column names for all columns
all_columns = [f"column_{i}" for i in range(3270)]  # Changed to 3270
pd.DataFrame(arr, columns=all_columns)

# Option 3: If the first 17 columns should have specific names and the rest can be generic
column_names = ["genre_Action","genre_Action,Adventure","genre_Action, Adventure, Cars, Comedy, Sci-Fi, Shounen", "genre_Action, Adventure, Cars, Mecha, Sci-Fi, Shounen, Sports", "genre_Action, Adventure, Cars, Sci-Fi", "genre_Action, Adventure, Comedy", "genre_Action, Adventure, Comedy, Demons, Drama, Ecchi, Horror, Mystery, Romance, Sci-Fi", "genre_Action, Adventure, Comedy, Demons, Fantasy, Magic", "genre_Action, Adventure, Comedy, Demons, Fantasy, Magic, Romance, Shounen, Supernatural", "genre_Action, Adventure, Comedy, Demons, Fantasy, Martial Arts, Shounen, Super Power", "genre_Supernatural", "genre_Vampire","type_Movie","type_Music","type_ONA","type_Special", "type_TV"]
column_names.extend([f"column_{i}" for i in range(17, 3270)])  # Changed to 3270
pd.DataFrame(arr, columns=column_names)

Array shape: (12294, 3270)

,genre_Action,"genre_Action,Adventure","genre_Action, Adventure, Cars, Comedy, Sci-Fi, Shounen","genre_Action, Adventure, Cars, Mecha, Sci-Fi, Shounen, Sports","genre_Action, Adventure, Cars, Sci-Fi","genre_Action, Adventure, Comedy","genre_Action, Adventure, Comedy, Demons, Drama, Ecchi, Horror, Mystery, Romance, Sci-Fi","genre_Action, Adventure, Comedy, Demons, Fantasy, Magic","genre_Action, Adventure, Comedy, Demons, Fantasy, Magic, Romance, Shounen, Supernatural","genre_Action, Adventure, Comedy, Demons, Fantasy, Martial Arts, Shounen, Super Power",...,column_3260,column_3261,column_3262,column_3263,column_3264,column_3265,column_3266,column_3267,column_3268,column_3269
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0